/*!*.hexagon {*!*/
/*!*    width: 100px;*!*/
/*!*    height: 55px;*!*/
/*!*    position: relative;*!*/
/*!*}*!*/

/*.hexagon,*/
/*.hexagon:before,*/
/*.hexagon:after {*/
/*    background: linear-gradient(149.64deg, #FF6613 17.71%, #0E34F8 83.42%);*/
/*}*/

/*.hexagon:before,*/
/*.hexagon:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 160px;*/
/*    width: 202px;*/
/*    height: 190px;*/
/*    transform: rotate(145deg) skew(22.5deg);*/
/*}*/

/*.hexagon:before {*/
/*    top: -29px;*/
/*}*/

/*.hexagon:after {*/
/*    top: 120px;*/
/*}*/

/*.hexagon span {*/
/*    position: absolute;*/
/*    top: 65px;*/
/*    left: 93px;*/
/*    width: 338px;*/
/*    height: 155px;*/
/*    background: linear-gradient(149.64deg, #FF6613 17.71%, #0E34F8 83.42%);*/
/*    z-index: 1;*/
/*}*/


/*.inner-hexagon,*/
/*.inner-hexagon:before,*/
/*.inner-hexagon:after {*/
/*    background: #B5B3B3;*/
/*    box-shadow: 0px 95px 95px rgba(11, 19, 40, 0.09), 0px 24px 52px rgba(11, 19, 40, 0.1), 0px 0px 0px rgba(11, 19, 40, 0.1);*/
/*}*/

/*.inner-hexagon:before,*/
/*.inner-hexagon:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 100px;*/
/*    left: 180px;*/
/*    width: 160px;*/
/*    height: 150px;*/
/*    transform: rotate(145deg) skew(22.5deg);*/
/*}*/

/*.inner-hexagon:before {*/
/*    top: -29px;*/
/*}*/

/*.inner-hexagon:after {*/
/*    top: 120px;*/
/*}*/

/*.inner-hexagon span {*/
/*    position: absolute;*/
/*    top: 87px;*/
/*    left: 120px;*/
/*    width: 286px;*/
/*    height: 108px;*/
/*    background: #B5B3B3;*/
/*    box-shadow: 0px 95px 95px rgba(11, 19, 40, 0.09), 0px 24px 52px rgba(11, 19, 40, 0.1), 0px 0px 0px rgba(11, 19, 40, 0.1);*/
/*    z-index: 1;*/
/*}*/


.service-box {
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(149.64deg, #FF6613 17.71%, #0E34F8 83.42%);
    transform: rotate(135.07deg);
}

.service-box-two {
    position: absolute;
    width: 220px;
    height: 220px;
    background: #B5B3B3;
    box-shadow: 0px 95px 95px rgba(11, 19, 40, 0.09), 0px 24px 52px rgba(11, 19, 40, 0.1), 0px 0px 0px rgba(11, 19, 40, 0.1);
    transform: rotate(0.07deg);
}

.service-box-three {
    position: absolute;
    width: 190px;
    height: 190px;
    background: #CACACA;
    box-shadow: 0px 86px 86px rgba(11, 19, 40, 0.09), 0px 21px 47px rgba(11, 19, 40, 0.1), 0px 0px 0px rgba(11, 19, 40, 0.1);
    transform: rotate(0.07deg);
}

.inner-service-box {
    position: absolute;
    width: 160px;
    height: 160px;
    /*background: url('../images/inner-service.png'), #FFFFFF;*/
    box-shadow: 0px 303px 121px rgba(11, 19, 40, 0.01), 0px 170px 102px rgba(11, 19, 40, 0.05), 0px 19px 42px rgba(11, 19, 40, 0.1), 0px 0px 0px rgba(11, 19, 40, 0.1);
    transform: rotate(0.07deg);
}

.service-card {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.07);
}
